body {
  background-color: black;
  height: 300px;
  margin: 0;
}

p {
  font-family: 'Cairo', sans-serif;
  /*font-size: 20px;*/
  line-height: 1.3;
  color: white;
}

h1 {
  font-family: 'Sofia', cursive;
  color: white;
}

h2 {
  font-family: 'Sofia', cursive;
  color: white;
}

h3 {
  font-family: 'Sofia', cursive;
  color: white;
}

a {
  font-family: 'Sofia', cursive;
}

.topDiv {
  background-color: #e6f5ff;
  position: relative;
  padding-top: 15%;
  padding-bottom: 5%;
  text-align: center;
}

.middleDiv {
  background-color: #3c4f65;
  height: 200px;
  width: 200px;
}

.bckimagetop {
  /*border: 1px solid #ddd;*/
  width: 18%;
  position: absolute;
  right: 28%;
  top: 50px;
}

.bckimageBottom {
  /*border: 1px solid #ddd;*/
  position: absolute;
  width: 10%;
  left: 15%;
  top: 40%;
}

.bckimageBottom2 {
  /*border: 1px solid #ddd;*/
  position: absolute;
  width: 8%;
  right: 25%;
  top: 46%;
}

.bottomDiv {
  background-color: #834c69;
  height: 200px;
  width: 200px;
}

.Heading {
  color: #33313b;
  text-shadow: 2px 2px 5px #bc658d;
  font-family: 'Dancing Script', cursive;
  font-size: 150px;
  font-weight: bold;

  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 4px;

}

.underHeading1 {
  font-family: 'Sofia', cursive;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  color: #33313b;
}

.underHeading2 {
  font-family: 'Sofia', cursive;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 50px;
  color: #33313b;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
